/*Codes By Mahdi Tasha*/
/*Variables*/
:root {
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
    --Font-size: 28px;
}

/*Resetting Some Styles*/
img {pointer-events: none;}
button {cursor: pointer;}

/*All Selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

/*Styles*/
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Dark-Blue);
    padding: 1rem;
}

.advice-generator {
    padding: 4rem 2rem;
    background-color: #313A49;
    border-radius: 1rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.advice-generator--top-number {
    text-align: center;
    color: var(--Neon-Green);
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.advice-generator--paragraph {
    text-align: center;
    font-size: var(--Font-size);
    color: white;
    margin-bottom: 3rem;
    display: none;
    max-width: 32ch;
}

.advice-generator--spinner-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.advice-generator--divider {
    width: 100%;
    margin-bottom: 2rem;
}

.advice-generator--dice-btn-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -7rem;
}

.advice-generator--dice-btn {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Neon-Green);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transition: .3s;
}

/*Pseudo Selectors*/
.advice-generator--dice-btn:hover {box-shadow: 0 0 30px var(--Neon-Green);}
.advice-generator--paragraph:before ,
.advice-generator--paragraph:after{
    content: '"';
}